{% extends '@SimpleMembership/main.html.twig' %}

{% block content %}
    <h1>Bank edit</h1>

    {{ form_start(edit_form, {'attr' : {'class':'form', 'role':'form', 'novalidate':'novalidate'} }) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Edit"/>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_bank_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
