{% extends '@SimpleMembership/main.html.twig' %}

{% block content %}
    <h1>Banks list</h1>

    <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for bank in banks %}
            <tr>
                <td><a href="{{ path('admin_bank_show', { 'id': bank.id }) }}">{{ bank.id }}</a></td>
                <td>{{ bank.title }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('admin_bank_show', { 'id': bank.id }) }}" class="btn btn-primary">show</a>
                        {% if is_granted('ROLE_ADMIN') != false %}
                            <a href="{{ path('admin_bank_edit', { 'id': bank.id }) }}" class="btn btn-warning">edit</a>
                        {% endif %}
                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') != false %}
        <ul>
            <li>
                <a href="{{ path('admin_bank_new') }}">Create a new bank</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
