{% extends '@SimpleMembership/main.html.twig' %}

{% block content %}
    <h1>Bank creation</h1>

    {{ form_start(form, {'attr' : {'class':'form', 'role':'form', 'novalidate':'novalidate'} }) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_bank_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
