{% extends '@SimpleMembership/main.html.twig' %}

{% block content %}
    <h1>Bank</h1>

    <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ bank.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ bank.title }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_bank_index') }}">Back to the list</a>
        </li>
        {% if is_granted('ROLE_ADMIN') != false %}
            <li>
                <a href="{{ path('admin_bank_edit', { 'id': bank.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}
