{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-body">
            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': {'class': 'fos_user_registration_register', 'role':'form'} }) }}
            <div class="form-group">
                <h2>User profile</h2>
            </div>

            <div class="form-group">
                {{ form_label(form.username, '', {'label_attr': {"class":"control-label"}}) }}
                {{ form_widget(form.username, {'attr':{'class':'form-control', 'disabled':'desabled'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.email, '', {'label_attr': {"class":"control-label"}}) }}
                {{ form_widget(form.email, {'attr':{'class':'form-control', 'disabled':'desabled'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

