{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th colspan="2">View Detail</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>First name</td>
            <td>{{ app.user.firstName }}</td>
        </tr>
        <tr>
            <td>Last name</td>
            <td>{{ app.user.lastName }}</td>
        </tr>
        <tr>
            <td>{{ 'profile.show.username'|trans }}</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>{{ 'profile.show.gender'|trans }}</td>
            <td>{{ user.gender }}</td>
        </tr>

        <tr>
            <td>Age</td>
            <td>{{ user.birthday|date_diff('%y') }}</td>
        </tr>

        <tr>
            <td>Occupation</td>
            <td>{{ user.occupation|default }}</td>
        </tr>

        <tr>
            <td>{{ 'profile.show.email'|trans }}</td>
            <td>{{ user.email }}</td>
        </tr>

        <tr>
            <td>Phone</td>
            <td>+{{ user.phone }}</td>
        </tr>

        <tr>
            <td>Blog</td>
            <td>{{ user.blog }}</td>
        </tr>

        <tr>
            <td>{{ 'profile.show.city'|trans }}</td>
            <td>{{ user.city }}</td>
        </tr>

        <tr>
            <td>Status</td>
            <td>{% if user.enabled %}Enabled{% else %}Locked{% endif %}</td>
        </tr>

        <tr>
            <td>Registered date</td>
            <td>{{ app.user.createdAt|date|default }}</td>
        </tr>

        <tr>
            <td>Last login</td>
            <td>{{ app.user.lastLogin|date|default }}</td>
        </tr>

        <tr>
            <td>Expiry</td>
            <td>{{ app.user.premiumExpired|date_diff('%m monthe(s) %d days') }} ({{ app.user.premiumExpired|date }})</td>
        </tr>

        <tr>
            <td>Role</td>
            <td>{{ include('@SimpleMembership/Includes/roles_template.html.twig') }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
