{% extends '@SimpleMembership/empty.html.twig' %}

{% block content %}
<div class="container-fluid cover">
	<div class="row">
		<div class="col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-md-10">
			<h1>Posts</h1>
		</div>
		<div class="col-md-1 hidden-sm hidden-xs"></div>
	</div>
</div><!-- /cover -->

<div class="container-fluid content">
	<div class="row">
		<div class="col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-md-10">
			<div class="inner-wrapper">
				<h2>Edit Chapter</h2>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button type="submit" class="btn btn-green">Add New Chapter</button>
				{{ form_end(form) }}
			</div>
		</div>
		<div class="col-md-1 hidden-sm hidden-xs"></div>
	</div><!-- / row -->
</div><!-- / container -->
{% endblock %}