{% extends '@SimpleMembership/empty.html.twig' %}

{% block content %}
    <div class="container-fluid cover">
        <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs"></div>
            <div class="col-md-10">
                <h1>Posts</h1>
            </div>
            <div class="col-md-1 hidden-sm hidden-xs"></div>
        </div>
    </div><!-- /cover -->

    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs"></div>
            <div class="col-md-10">
                <div class="inner-wrapper">
                    <h2>Chapter</h2>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-green">Add New Chapter</button>
                    {{ form_end(form) }}
                    <div class="h30"></div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <td>Title</td>
                                <td>Product</td>
                                <td>Sort</td>
                                <td>Action</td>
                            </tr>
                            {% for chapter in chapters %}
                                <tr>
                                    <td>{{ chapter.title }}</td>
                                    <td>{{ chapter.product.title }}</td>
                                    <td>{{ chapter.sort }}</td>
                                    <td><a href="{{ path('admin_chapter_edit', {'id': chapter.id}) }}">Edit</a> / <a
                                                href="" data-id="{{ chapter.id }}">Remove</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div><!-- / table-responsive -->
                </div>
            </div>
            <div class="col-md-1 hidden-sm hidden-xs"></div>
        </div><!-- / row -->
    </div><!-- / container -->
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {

            $('a[href=""]').click(function () {
                var url = "{{ path('admin_chapter_delete', {'id': 'id'}) }}";
                url = url.replace('id', this.dataset.id);

                $.ajax({
                    url: url,
                    type: 'DELETE',
                    success: function (result) {
                        location.reload();
                    }
                });

                return true;
            });
        });
    </script>
{% endblock %}