{% extends '@SimpleMembership/empty.html.twig' %}

{% block content %}
<div class="container-fluid cover">
    <div class="row">
        <div class="col-md-1 hidden-sm hidden-xs"></div>
        <div class="col-md-10">
            <h1>Dashboard</h1>
        </div>
        <div class="col-md-1 hidden-sm hidden-xs"></div>
    </div>
</div><!-- /cover -->

<div class="container-fluid content">
    <div class="row">
        <div class="col-md-1 hidden-sm hidden-xs"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4">
                    <div class="inner-wrapper">
                        <h3>My Personal Info</h3>
                        <ul>
                            <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ app.user.firstName }} {{ app.user.lastName }}</li>
                            <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ app.user.email }} </li>
                            <li><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{ app.user.gender }}</li>
                            <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ app.user.city }}</li>
                            <li><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="text-danger">{{ app.user.roles|first|trans }}</span></li>
                        </ul>
                        <p><a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Change Password</a></p>
                        <div class="collapse" id="collapseExample">
                            <!--<p class="text-success">The password has been changed<p>-->

                            {{ form_start(form) }}
                                <div class="form-group">
                                    {{ form_errors(form.current_password) }}
                                    {{ form_widget(form.current_password, {'attr':{'class':'form-control', 'placeholder':'Current password'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_errors(form.plainPassword.first) }}
                                    {{ form_widget(form.plainPassword.first, {'attr':{'class':'form-control', 'placeholder':'New password'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_errors(form.plainPassword.second) }}
                                    {{ form_widget(form.plainPassword.second, {'attr':{'class':'form-control', 'placeholder':'Repeat new password'}}) }}
                                </div>
                                <input type="submit" class="btn btn-green" value="Save Changes"/>
                            {{ form_end(form) }}
                        </div><!-- /collapse -->
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="inner-wrapper">
                        <h3>Information</h3>
                        <p>When you sell an item on Envato Market, the total purchase price is made up of your item price plus Envato’s fee to the buyer. Buyer fees are either calculated as a % of the item price or are set at a fixed amount. Fixed buyer fee amounts apply to categories where authors set the price themselves. See our help center for more details. You’ll earn your item price minus any Envato author fees. Those author fees are dependent on whether you sell exclusively and your all-time sales to date. The more you sell, the more you’ll make.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="inner-wrapper">
                        <h3>Complaint</h3>
                        <p>Komplain anda akan langsung dikirim ke Management DUMET School.</p>
                        {{ form_start(complaint_form) }}
                            <div class="form-group">
                                {{ form_errors(complaint_form.subject) }}
                                {{ form_widget(complaint_form.subject, {'attr':{'placeholder': 'Subject'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(complaint_form.content) }}
                                {{ form_widget(complaint_form.content, {'attr':{'rows':'3', 'placeholder': 'Content'}}) }}
                            </div>
                            <button type="submit" class="btn btn-green">Send</button>
                        {{ form_end(complaint_form) }}
                    </div>
                </div>

            </div><!-- / row -->
        </div>
        <div class="col-md-1 hidden-sm hidden-xs"></div>
    </div><!-- / row -->
</div><!-- / container -->
{% endblock %}