{% extends '@SimpleMembership/empty.html.twig' %}

{% block content %}
    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs"></div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-7 col-sm-7">
                        <h1>{{ post.title }}</h1>
                        {% if post.youtube %}
                            <div class="content-video">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item"
                                            src="https://www.youtube.com/embed/{{ post.youtube }}" frameborder="0"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        {% endif %}
                        {% if post.text %}
                            <div class="content-text">
                                <p>{{ post.text }}</p>
                            </div>
                        {% endif %}
                        {% if post.document %}
                            <div class="content-pdf">
                                <center>
                                    <img src="{{ asset('uploads/img/' ~ post.pdfThumb) }}" alt="{{ post.title }}"
                                         class="img-responsive">
                                    <form method="get" action="{{ asset('uploads/pdf/' ~ post.document) }}">
                                        <button type="submit" class="btn btn-green">Download</button>
                                    </form>
                                </center>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-5 col-sm-5">
                        {% include '@SimpleMembership/include/sidebar.html.twig' with {'product': post.product} %}
                    </div>
                </div><!-- /row -->
            </div>
        </div><!-- /row -->
    </div><!-- /content -->
{% endblock %}