<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Simple Membership</title>


    <!-- Latest compiled and minified CSS -->
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}

    <!-- Optional theme -->
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">#}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9] -->
    <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> -->
    <!--[endif] -->

    {% stylesheets
    '@bootstrap_css'
    'bundles/simplemembership/css/custom.css'
    filter="cssrewrite"
    output='css/compiled/app.css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% block stylesheet %}{% endblock stylesheet %}
</head>

<body>

{% include '@SimpleMembership/Includes/flashes.html.twig' %}

{% block head_panel %}
    {% include '@SimpleMembership/include/header.html.twig' %}
{% endblock %}

{% block content %}{% endblock content %}

<div class="container-fluid footer">
    <div>Copyright &copy; 2017 <a href="#">dumetschool.com</a></div>
</div>
{% javascripts
'@jquery'
'@bootstrap_js'
'bundles/fosjsrouting/js/router.js'
output='js/compiled/app.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>

<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

{#<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>#}
{% endjavascripts %}

{% block javascript %}{% endblock javascript %}

<script>
    $(document).ready(function () {
        $('.dropdown-submenu a.dropdown-submenu-parent').on("click", function (e) {
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
        });
    });
</script>
</body>
</html>
