{% extends '@SimpleMembership/empty.html.twig' %}

{% block content %}
<div class="container-fluid cover">
    <div class="row">
        <div class="col-md-1 hidden-sm hidden-xs"></div>
        <div class="col-md-10">
            <h1>Welcome to iLab</h1>
        </div>
        <div class="col-md-1 hidden-sm hidden-xs"></div>
    </div>
</div><!-- /cover -->

<div class="container-fluid filter">
    <div class="row">
        <div class="col-md-1 hidden-sm hidden-xs"></div>
        <div class="col-md-10">
            <form action="{{ path('simple_membership_homepage') }}" METHOD="post">
                <div class="dropdown pull-left">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="pull-left">Price&nbsp;&nbsp;</span>
                        <span class="glyphicon glyphicon-chevron-down pull-left"></span>
                    </button>
                    {{ include('@SimpleMembership/include_parts/iLab/price_filter.html.twig') }}
                </div><!-- /dropdown -->
                <div class="dropdown pull-left">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="pull-left">Level&nbsp;&nbsp;</span>
                        <span class="glyphicon glyphicon-chevron-down pull-left"></span>
                    </button>
                    {{ include('@SimpleMembership/include_parts/iLab/level_filter.html.twig') }}
                </div><!-- /dropdown -->
                <div class="dropdown pull-left">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="pull-left">Category&nbsp;&nbsp;</span>
                        <span class="glyphicon glyphicon-chevron-down pull-left"></span>
                    </button>
                    {{ include('@SimpleMembership/include_parts/iLab/category_filter.html.twig') }}

                </div><!-- /dropdown -->
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div><!-- /filter -->

<div class="container-fluid content">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                {% for product in products %}
                    {% if product.posts|length > 0 %}
                        {% set post = product.posts|first %}
                        <div class="col-md-3 col-sm-3">
                            <div class="item">
                                <a href="{{ path('simple_membership_details', {'id': post.id}) }}">
                                    <span class="layer"></span>
                                    <img src="{{ asset('uploads/img/' ~ product.thumb) }}" alt="{{ product.title }}" class="img-responsive btn-block">
                                    <div>{{ product.title }}</div>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div><!-- / row -->
        </div>
        <div class="col-md-1 hidden-sm hidden-xs"></div>
    </div><!-- / row -->
</div><!-- / container -->
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/simplemembership/js/dashboard.js') }}" type="application/javascript"></script>
{% endblock %}