<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="container-fluid">
    <header>
        {% include '@SimpleMembership/Includes/header.html.twig' %}
    </header>
    {% include '@SimpleMembership/Includes/flashes.html.twig' %}
    {% block fos_user_content %}{% endblock fos_user_content %}
    {% block content %}{% endblock content %}

    <footer>
        {% include '@SimpleMembership/Includes/footer.html.twig' %}
    </footer>

</div>
{% stylesheets
    '@bootstrap_css'
    'bundles/simplemembership/css/custom.css'
    filter="cssrewrite"
    output='css/compiled/app.css'
%}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
{% endstylesheets %}

{% block stylesheet %}{% endblock stylesheet %}

{% javascripts
    '@jquery'
    '@bootstrap_js'
    'bundles/fosjsrouting/js/router.js'
    output='js/compiled/app.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>

    {#<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>#}
{% endjavascripts %}

{% block javascript %}{% endblock javascript %}
</body>
</html>
