{% extends '@SimpleMembership/empty.html.twig' %}

{% block content %}
<div class="container-fluid cover">
	<div class="row">
		<div class="col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-md-10">
			<h1>Products</h1>
		</div>
		<div class="col-md-1 hidden-sm hidden-xs"></div>
	</div>
</div><!-- /cover -->

<div class="container-fluid content">
	<div class="row">
		<div class="col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-md-10">
			<div class="inner-wrapper">
				<h2>View Detail</h2>
				{{ form_start(form) }}
				<div class="table-responsive">
					<table class="table table-bordered">
					<tr>
						<td>Title</td>
						<td>
							{{ form_errors(form.title) }}
							{{ form_widget(form.title) }}
						</td>
					</tr>
					<tr>
						<td>Synopsis</td>
						<td>
							{{ form_errors(form.description) }}
							{{ form_widget(form.description, {'attr':{'rows':'3'}}) }}
						</td>
					</tr>
					<tr>
						<td>Price</td>
						<td>
							{{ form_errors(form.isFree) }}
							{{ form_widget(form.isFree) }}
						</td>
					</tr>
					<tr>
						<td>Category</td>
						<td>
							{{ form_errors(form.category) }}
							{{ form_widget(form.category) }}
						</td>
					</tr>
					<tr>
						<td>Level</td>
						<td>
							{{ form_errors(form.level) }}
							{{ form_widget(form.level) }}
						</td>
					</tr>
					<tr>
						<td>Author</td>
						<td>
							{{ form_errors(form.author) }}
							{{ form_widget(form.author) }}
						</td>
					</tr>
					<tr>
						<td>Length</td>
						<td>
							{{ form_errors(form.length) }}
							{{ form_widget(form.length) }}
						</td>
					</tr>
					<tr>
						<td>Published</td>
						<td>
							{{ form_widget(form.published, {'attr': {'style':'display:none'}}) }}
							{{ product.published|date('d/m/y')|default }}
						</td>
					</tr>
					<tr>
						<td>Image</td>
						<td>
							<img src="{{ asset('uploads/img/' ~ product.thumb) }}" alt="{{ product.title }}" width="100">
							{{ form_errors(form.thumbFile) }}
							{{ form_widget(form.thumbFile) }}
						</td>
					</tr>
					</table>
				</div><!-- / table-responsive -->
				<button type="submit" class="btn btn-info btn-green">Save Changes</button>
			</div>
			{{ form_end(form) }}
		</div>
		<div class="col-md-1 hidden-sm hidden-xs"></div>
	</div><!-- / row -->
</div><!-- / container -->
{% endblock %}