{% extends '@SimpleMembership/empty.html.twig' %}

{% block content %}
    <div class="container-fluid cover">
        <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs"></div>
            <div class="col-md-10">
                <h1>Products</h1>
            </div>
            <div class="col-md-1 hidden-sm hidden-xs"></div>
        </div>
    </div><!-- /cover -->

    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs"></div>
            <div class="col-md-10">
                <div class="inner-wrapper">
                    <h2>All Products</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>Title</th>
                                <th>Price</th>
                                <th>Category</th>
                                <th>Level</th>
                                <th>Actions</th>
                            </tr>
                            {% if products|length > 0 %}
                                {% for product in products %}
                                    <tr>
                                        <td>{{ product.title }}</td>
                                        <td>
                                            {% if product.isFree %}
                                                Free
                                            {% else %}
                                                Paid
                                            {% endif %}
                                        </td>
                                        <td>
                                             {% if product.category|length > 0 %}
                                                 {{ product.category.title }}
                                             {% endif %}
                                        </td>
                                        <td>{{ product.level }}</td>
                                        <td>
                                            <a href="{{ path('admin_product_show', { 'productId': product.id }) }}">View</a>
                                            / <a href="{{ path('admin_product_edit', { 'id': product.id }) }}">Edit</a>
                                            / <a href="" data-id="{{ product.id }}">Remove</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                    </div><!-- / table-responsive -->
                </div>
            </div>
            <div class="col-md-1 hidden-sm hidden-xs"></div>
        </div><!-- / row -->
    </div><!-- / container -->
{% endblock %}

{% block javascript %}
    <script>
        $( document ).ready(function() {

            $('a[href=""]').click(function () {
                var url = "{{ path('admin_product_delete', { 'id': 'id' }) }}";
                url = url.replace('id', this.dataset.id);

                $.ajax({
                    url: url,
                    type: 'DELETE',
                    success: function(result) {
                        location.reload();
                    }
                });

                return true;
            });
        });
    </script>
{% endblock %}