{% extends '@SimpleMembership/empty.html.twig' %}

{% block content %}
<div class="container-fluid cover">
	<div class="row">
		<div class="col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-md-10">
			<h1>Products</h1>
		</div>
		<div class="col-md-1 hidden-sm hidden-xs"></div>
	</div>
</div><!-- /cover -->

<div class="container-fluid content">
	<div class="row">
		<div class="col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-md-10">
			<div class="inner-wrapper">
				<h2>View Detail</h2>
				<div class="table-responsive">
					<table class="table table-bordered">
						<tr>
							<td>Title</td>
							<td>{{ product.title }}</td>
						</tr>
						<tr>
							<td>Synopsis</td>
							<td>{{ product.description|raw }}</td>
						</tr>
						<tr>
							<td>Price</td>
							{% if product.isFree %}
								<td>Free</td>
							{% else %}
								<td>Paid</td>
							{% endif %}
						</tr>
						<tr>
							<td>Category</td>
							<td>
								{{ product.category.title }}
							</td>
						</tr>
						<tr>
							<td>Level</td>
							<td>{{ product.level }}</td>
						</tr>
						<tr>
							<td>Author</td>
							<td>{{ product.author }}</td>
						</tr>
						<tr>
							<td>Length</td>
							<td>{{ product.length }} Hours</td>
						</tr>
						<tr>
							<td>Published</td>
							<td>{{ product.published|date('d/m/y')|default }}</td>
						</tr>
						<tr>
							<td>Image</td>
							<td>
								<img src="{{ asset('uploads/img/' ~ product.thumb) }}" alt="{{ product.title }}" width="100">
							</td>
						</tr>
					</table>
				</div><!-- / table-responsive -->
				<a href="{{ path('admin_product_edit', {'id': product.id}) }}" class="btn btn-info btn-green" role="button">Edit</a>
			</div>
		</div>
		<div class="col-md-1 hidden-sm hidden-xs"></div>
	</div><!-- / row -->
</div><!-- / container -->
{% endblock %}