<h4>New Complaint</h4>

Complaint Details:
User: {{ complaint.user.username }}
Submitted At: {{ complaint.date|date('d/m/y')|default }}

Subject:
{{ complaint.subject }}

Content:
{{ complaint.content }}