<h4>New order</h4>

To view order - <a href="{{ url('simple_membership_checkout_order', {'orderId': orderId}) }}">Link</a>

list of order:
<table>
    <thead>
    <tr>
        <th>
            <td>#</td>
            <td>title</td>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.title }}</td>
        </tr>
    {% endfor%}
    </tbody>
</table>