{# This block can be removed if you wouldn't like to use main template #}
{% extends '@SimpleMembership/main.html.twig' %}


{% block content %}
    {#your content should be placed here#}
{% endblock %}

{% block stylesheet %}
    <style>
        /*location for styles*/
    </style>
{% endblock %}

{% block javascript %}
    <script>
        //        location for js script
    </script>
{% endblock %}