{% trans_default_domain 'FOSUserBundle' %}

{% extends "@SimpleMembership/auth/base.html.twig" %}

{#{% block fos_user_content %}#}
    {#<p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>#}
{#{% endblock fos_user_content %}#}
