{% trans_default_domain 'FOSUserBundle' %}

{% extends "@SimpleMembership/auth/base.html.twig" %}

{#{% block fos_user_content %}#}
    {#<p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>#}
    {#{% if targetUrl %}#}
    {#<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>#}
    {#{% endif %}#}
{#{% endblock fos_user_content %}#}
