{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register', 'role':'form'}}) }}
                <div class="form-group">
                    <h2>Create account</h2>
                </div>
                <div class="form-group">
                    {{ form_errors(form.username) }}
                    {{ form_label(form.username, '', {'label_attr': {"class":"control-label"}}) }}
                    {{ form_widget(form.username, {'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.email) }}
                    {{ form_label(form.email, '', {'label_attr': {"class":"control-label"}}) }}
                    {{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.plainPassword.first) }}
                    {{ form_label(form.plainPassword.first, '', {'label_attr': {"class":"control-label"}}) }}
                    {{ form_widget(form.plainPassword.first, {'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.plainPassword.second) }}
                    {{ form_label(form.plainPassword.second, '', {'label_attr': {"class":"control-label"}}) }}
                    {{ form_widget(form.plainPassword.second, {'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.gender) }}
                    {{ form_label(form.gender, '', {'label_attr': {"class":"control-label"}}) }}
                    {{ form_widget(form.gender, {'attr':{'class':'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_errors(form.city) }}
                    {{ form_label(form.city, '', {'label_attr': {"class":"control-label"}}) }}
                    {{ form_widget(form.city, {'attr':{'class':'form-control'}}) }}
                </div>


                <div class="form-group">
                    <button id="signupSubmit" type="submit"
                            class="btn btn-info btn-block">{{ 'registration.submit'|trans }}</button>
                </div>

                <hr>
                <p>Already have an account? <a href="{{ path('fos_user_security_login') }}">Sign in</a></p>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
