{% extends '@SimpleMembership/main.html.twig' %}

{% block content %}
    <h1>Payment edit</h1>

    {{
        form_start(edit_form,
        {'attr' :
            {'class':'form', 'role':'form', 'novalidate':'novalidate', 'id':'simplemembershipbundle_payments' }
        }) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Edit" form="simplemembershipbundle_payments"/>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('payments_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/simplemembership/js/tinymce/tinymce.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            tinymce.init({
                selector: 'textarea',
                height: 500,
                theme: 'modern',
                plugins: [
                    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                    'searchreplace wordcount visualblocks visualchars code fullscreen',
                    'insertdatetime media nonbreaking save table contextmenu directionality',
                    'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
                ],
                toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
                image_advtab: true,
            });
        });
    </script>
{% endblock %}