{% extends '@SimpleMembership/main.html.twig' %}

{% block content %}
    <h1>Payment list</h1>

    <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Bankname</th>
            <th>User</th>
            <th>Paymentdate</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for payment in payments %}
            <tr>
                <td><a href="{{ path('payments_show', { 'id': payment.id }) }}">{{ payment.id }}</a></td>
                <td>{{ payment.bankName }}</td>
                <td>{{ payment.user }}</td>
                <td>{% if payment.paymentDate %}{{ payment.paymentDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ payment.status }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('payments_show', { 'id': payment.id }) }}" class="btn btn-primary">show</a>
                        {% if is_granted('ROLE_ADMIN') != false %}
                            <a href="{{ path('admin_payments_edit', { 'id': payment.id }) }}" class="btn btn-warning">edit</a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        {% if payments|length == 0 %}
            <tr>
                <td colspan="6" align="center" valign="middle">No information</td>
            </tr>
        {% endif %}
    </table>

    <ul>
        <li>
            <a href="{{ path('payments_new') }}" class="btn btn-primary">Add new payment</a>
        </li>
    </ul>

{% endblock %}
