{% extends '@SimpleMembership/main.html.twig' %}

{% block content %}
    <h1>Payment creation</h1>

    {{ form_start(form, {'attr' : {'class':'form', 'role':'form', 'novalidate':'novalidate'} }) }}
    <div class="form-group">
        {{ form_errors(form.bankName) }}
        {{ form_label(form.bankName, '', {'label_attr': {"class":"control-label"}} ) }}
        {{ form_widget(form.bankName, {'attr':{'class':'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_errors(form.paymentDate) }}
        {{ form_label(form.paymentDate, '', {'label_attr': {"class":"control-label"}} ) }}
        {{ form_widget(form.paymentDate, {'attr':{'class':'formm-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_errors(form.description) }}
        {{ form_label(form.description, '', {'label_attr': {"class":"control-label"}} ) }}
        {{ form_widget(form.description, {'attr':{'class':'form-control'}}) }}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="form-group">
            {{ form_errors(form.user) }}
            {{ form_label(form.user, '', {'label_attr': {"class":"control-label"}} ) }}
            {{ form_widget(form.user, {'attr':{'class':'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_errors(form.status) }}
            {{ form_label(form.status, '', {'label_attr': {"class":"control-label"}} ) }}
            {{ form_widget(form.status, {'attr':{'class':'form-control'}}) }}
        </div>
    {% endif %}

    <input type="submit" value="Create"/>

    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('payments_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/simplemembership/js/tinymce/tinymce.min.js') }}"></script>
    <script>
        $( document ).ready(function() {
            tinymce.init({
                selector: 'textarea',
                height: 200,
                theme: 'modern',
                plugins: [
                    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                    'searchreplace wordcount visualblocks visualchars code fullscreen',
                    'insertdatetime media nonbreaking save table contextmenu directionality',
                    'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
                ],
                toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
                image_advtab: true,
            });
        });
    </script>
{% endblock %}
