{% extends '@SimpleMembership/main.html.twig' %}

{% block content %}
    <h1>Payment</h1>

    <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ payment.id }}</td>
        </tr>
        <tr>
            <th>Bankname</th>
            <td>{{ payment.bankName }}</td>
        </tr>
        <tr>
            <th>User</th>
            <td>{{ payment.user }}</td>
        </tr>
        <tr>
            <th>Paymentdate</th>
            <td>{% if payment.paymentDate %}{{ payment.paymentDate|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ payment.status }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('payments_index') }}">Back to the list</a>
        </li>
        {% if is_granted('ROLE_ADMIN') != false %}
            <li>
                <a href="{{ path('admin_payments_edit', { 'id': payment.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}
