{% trans_default_domain 'FOSUserBundle' %}

{% extends "@SimpleMembership/auth/base.html.twig" %}

{#{% block fos_user_content %}#}
    {#{% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}#}
{#{% endblock fos_user_content %}#}
