{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
{{ form_widget(form) }}
<div>
    <input type="submit" value="{{ 'change_password.submit'|trans }}"/>
</div>
{{ form_end(form) }}


{#{% trans_default_domain 'FOSUserBundle' %}#}
{#{% spaceless %}#}
    {#<div class="container">#}
        {#<div class="row">#}
            {#<div class="col-xs-12 col-sm-6 col-md-6">#}
                {#<div class="well well-sm">#}
                    {#<div class="row">#}
                        {#<div class="col-sm-6 col-md-4">#}
                            {#<img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive"/>#}
                            {#{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}#}
                            {#{{ form_widget(form) }}#}
                            {#<div>#}
                                {#<input type="submit" value="{{ 'change_password.submit'|trans }}"/>#}
                            {#</div>#}
                            {#{{ form_end(form) }}#}

                        {#</div>#}

                        {#<div class="col-sm-6 col-md-8">#}
                            {#<h4>#}
                                {#<i class="glyphicon glyphicon-user"></i>&nbsp;:&nbsp;#}
                                {#{{ app.user.username }}#}
                            {#</h4>#}
                            {#<p>#}
                                {#<i class="glyphicon glyphicon-envelope"></i>&nbsp;:&nbsp;{{ app.user.email }}#}
                                {#<br/>#}
                                {#<i class="glyphicon glyphicon-cog"></i>&nbsp;:&nbsp;{{ app.user.gender }}#}
                                {#<br/>#}

                                {#<small>#}
                                    {#<cite title="{{ app.user.city }}">#}
                                        {#<i class="glyphicon glyphicon-map-marker"></i>&nbsp;:&nbsp;#}
                                        {#{{ app.user.city }}#}
                                    {#</cite>#}
                                {#</small>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#{% endspaceless %}#}