{% extends '@SimpleMembership/empty.html.twig' %}

{% block content %}
<div class="container-fluid cover">
	<div class="row">
		<div class="col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-md-10">
			<h1>Posts</h1>
		</div>
		<div class="col-md-1 hidden-sm hidden-xs"></div>
	</div>
</div><!-- /cover -->

<div class="container-fluid content">
	<div class="row">
		<div class="col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-md-10">
			<div class="inner-wrapper">
				<h2>Edit</h2>
				{{ form_start(form) }}
				<div class="form-group">
					{{ form_label(form.title) }}
					{{ form_errors(form.title) }}
					{{ form_widget(form.title) }}
				</div>
				<div class="form-group">
					{{ form_label(form.product) }}
					{{ form_errors(form.product) }}
					{{ form_widget(form.product) }}
				</div>
				<div class="form-group">
					{{ form_label(form.chapter) }}
					{{ form_errors(form.chapter) }}
					{{ form_widget(form.chapter) }}
				</div>
				<div class="form-group">
					{{ form_label(form.sort) }}
					{{ form_errors(form.sort) }}
					{{ form_widget(form.sort) }}
				</div>
				<div class="form-group">
					<label>Video</label>
					<div class="input-group">
						<span class="input-group-addon">https://www.youtube.com/watch?v=</span>
						{{ form_widget(form.youtube) }}
					</div>
				</div>
				<div class="form-group">
					{{ form_label(form.text) }}
					{{ form_errors(form.text) }}
					{{ form_widget(form.text, {'attr':{'rows':'3'}}) }}
				</div>
					<div class="form-group">
				  		<label for="exampleInputText1">PDF</label>
						<p class="help-block">Document:</p>
					  	<p><a href="{{ asset('uploads/pdf/' ~ post.document) }}">{{post.title|replace({' ': '_'}) ~ '.pdf'}}</a></p>
						{{ form_widget(form.document) }}
    					<p class="help-block">Image Cover:</p>
    					<p><img src="{{ asset('uploads/img/' ~ post.pdfThumb) }}" alt="{{ post.title }}" width="100"></p>
						{{ form_widget(form.pdfThumbFile) }}
					</div>
				  	<button type="submit" class="btn btn-green">Update</button>
				{{ form_end(form) }}
			</div>
		</div>
		<div class="col-md-1 hidden-sm hidden-xs"></div>
	</div><!-- / row -->
</div><!-- / container -->
{% endblock %}