{% extends '@SimpleMembership/empty.html.twig' %}

{% block content %}
<div class="container-fluid cover">
	<div class="row">
		<div class="col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-md-10">
			<h1>Posts</h1>
		</div>
		<div class="col-md-1 hidden-sm hidden-xs"></div>
	</div>
</div><!-- /cover -->

<div class="container-fluid content">
	<div class="row">
		<div class="col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-md-10">
			<div class="inner-wrapper">
				<h2>All Posts</h2>
				<div class="table-responsive">
					<table class="table table-bordered">
					  <tr>
					  	<th>Title</th>
					  	<th>Product</th>
					  	<th>Chapter</th>
					  	<th>Sort</th>
					  	<th>Actions</th>
					  </tr>
						{% if posts %}
							{% for post in posts %}
								<tr>
									<td>{{ post.title }}</td>
									<td>{{ post.product.title }}</td>
									<td>{{ post.chapter.title }}</td>
									<td>{{ post.sort }}</td>
									<td><a href="{{ path('admin_post_edit', { 'slug': post.slug }) }}">Edit</a> / <a href="" data-id="{{ post.slug }}">Remove</a></td>
								</tr>
							{% endfor %}
						{% endif %}
					</table>
				</div><!-- / table-responsive -->
			</div>
		</div>
		<div class="col-md-1 hidden-sm hidden-xs"></div>
	</div><!-- / row -->
</div><!-- / container -->
{% endblock %}

{% block javascript %}
	<script>
		$( document ).ready(function() {

			$('a[href=""]').click(function () {
				var url = "{{ path('admin_post_delete', { 'slug': 'id' }) }}";
				url = url.replace('id', this.dataset.id);

				$.ajax({
					url: url,
					type: 'DELETE',
					success: function(result) {
						location.reload();
					}
				});

				return true;
			});
		});
	</script>
{% endblock %}