{% extends '@SimpleMembership/main.html.twig' %}

{% block content %}
    <table class="table table-bordered table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Product title</th>
                <th>User name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if orders|length > 0 %}
                {% for order in orders %}
                    <tr>
                        <td>
                            <a href="{{ path('simple_membership_checkout_order', { 'orderId' : order.orderId }) }}">
                                {{ order.orderId }}</a>
                        </td>
                        <td>
                            <a href="{{ path('product_show', {'id': order.productId }) }}">{{ order.title }}</a>
                        </td>
                        <td>
                            <a href="{{ path('admin_user_show', {'id': order.userId}) }}">{{ order.username }}</a>
                        </td>
                        <td>
                            {{ order.status }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{{ path('simple_membership_checkout_order', { 'orderId' : order.orderId }) }}" class="btn btn-primary">
                                    View order</a>
                                <a href="{{ path('simple_membership_checkout_submit', { 'orderId' : order.orderId }) }}" class="btn btn-warning">
                                    Submit order</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">No orders</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}