{% extends '@SimpleMembership/main.html.twig' %}

{% block content %}
    <table class="table table-bordered table-striped table-hover table-responsive">
        <thead>
        <tr>
            <th>ID</th>
            <th>Product title</th>
            <th>User name</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% if order %}
            {#{% for order in orders %}#}
            <tr>
                <td>
                    <a href="{{ path('simple_membership_checkout_order', { 'orderId' : order.id }) }}">
                        {{ order.id }}</a>
                </td>
                <td>
                    {% for product in order.products %}
                        <a href="{{ path('product_show', {'id': product.id }) }}">{{ product.title }}</a>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('admin_user_show', {'id': order.user.id}) }}">{{ order.user.username }}</a>
                </td>
                <td>
                    {{ order.status }}
                </td>
            </tr>
            {#{% endfor %}#}
        {% else %}
            <tr>
                <td colspan="5">No orders</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}