{% extends "@SimpleMembership/main.html.twig" %}

{% block content %}

    <!-- Jumbotron -->
    {#<div class="jumbotron">#}
        {#<h1>Marketing stuff!</h1>#}
        {#<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus#}
            {#commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>#}
        {#<p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>#}
    {#</div>#}

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">
            <h2>My Personal Info</h2>
            <table class="table">
                <tbody>
                <tr>
                    <td><i class="glyphicon glyphicon-user"></i></td>
                    <td>{{ app.user.username }}</td>
                </tr>
                <tr>
                    <td><i class="glyphicon glyphicon-envelope"></i></td>
                    <td>{{ app.user.email }}</td>
                </tr>
                <tr>
                    <td><i class="glyphicon glyphicon-info-sign"></i></td>
                    <td>{{ app.user.gender }}</td>
                </tr>
                <tr>
                    <td><i class="glyphicon glyphicon-map-marker"></i></td>
                    <td>{{ app.user.city|default('Unknown') }}</td>
                </tr>
                <tr>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><i class="glyphicon glyphicon-cog"></i></td>
                        <td>Administrator</td>
                    {% endif %}
                </tr>

                <tr>
                    <td colspan="2"><a href="{{ path('fos_user_change_password') }}">Change password</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <h2>Information</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-lg-4">
            <div class="col-lg-10">
                <h2>Complaint</h2>
                <p class="form-signin-heading">
                    Some text here
                </p>
                <form action="{{ url('simple_membership_homepage') }}" method="POST" class="form">
                    <div class="form-group">
                        <input type="text" name="subject" class="form-control" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="text" placeholder="Message"></textarea>
                    </div>
                    <input type="submit" class="btn btn-success" value="Send">
                </form>
            </div>
        </div>
    </div>
{% endblock %}