{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">

    <h2 class="form-signin-heading">Please sign in</h2>
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
    <input
            type="text"
            id="username"
            name="_username"
            value="{{ last_username }}"
            required="required"
            class="form-control"
            autofocus=""
            placeholder="Username"
    />

    <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
    <input
            type="password"
            id="password"
            name="_password"
            required="required"
            class="form-control"
            placeholder="Password"
    />

    <div class="checkbox">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>

    <input
            type="submit"
            id="_submit"
            name="_submit"
            value="{{ 'security.login.submit'|trans }}"
            class="btn btn-lg btn-primary btn-block"
    />
    <p></p>
    <p></p>

    <div class="">
        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary">Registration</a>
        <a href="{{ path('fos_user_resetting_request') }}" class="btn btn-success pull-right">Forgot password</a>
    </div>


</form>
