<div class="container-fluid header">
    <div class="row">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">Membership</div>
                </div>
                <div class="collapse navbar-collapse offcanvas" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url('simple_membership_dashboard') }}">Dashboard</a></li>
                        <li><a href="{{ url('simple_membership_homepage') }}">iLab</a></li>
                        <li><a href="https://www.facebook.com/groups/grupbelajarcom/" target="_blank">Forum</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrator <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">USERS</li>
                                <li><a href="{{ url('admin_user_index') }}">All Users</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">POSTS</li>
                                <li><a href="{{ url('admin_post_index') }}">All Posts</a></li>
                                <li><a href="{{ url('admin_post_new') }}">Add New</a></li>
                                <li><a href="{{ url('admin_chapter_index') }}">Chapters</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">PRODUCTS</li>
                                <li><a href="{{ url('admin_product_index') }}">All Products</a></li>
                                <li><a href="{{ url('admin_product_new') }}">Add New</a></li>
                                <li><a href="{{ url('admin_category_index') }}">Categories</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.lastName }}, {{ app.user.firstName }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sign out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="h50"></div>