<div data-spy="affix" data-offset-top="0" data-offset-bottom="200">
    <h3>{{ product.title }}</h3>
    <ol>
        {% for chap in product.chapter %}
            <li><span>{{ chap.title }}</span>
                <ul>
                    {% for post in chap.posts %}
                        <li><a href="{{ path('simple_membership_details', {'id': post.id}) }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ol>
</div>