{% trans_default_domain 'FOSUserBundle' %}

{% extends "@SimpleMembership/auth/base.html.twig" %}

{#{% block fos_user_content %}#}
{#<p class="lead">#}
    {#{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime}) }}#}
{#</p>#}
{#{% endblock %}#}
