{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_registration_register" role="form">
    <div class="form-group col-sm-6">
        <label for="username" class="control-label">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" name="username" required="required" class="form-control" />
    </div>
    <div class="clearfix"></div>
    <div class="form-group col-sm-6">
        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-primary" />
    </div>
    <div class="clearfix"></div>
</form>
