{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': {'class': 'fos_user_registration_register', 'role':'form'} }) }}
<div class="col-sm-6">
    <div class="form-group">
        {{ form_label(form.plainPassword.first, '', {'label_attr': {"class":"control-label"}}) }}
        {{ form_widget(form.plainPassword.first, {'attr':{"class":"form-control"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.plainPassword.second, '', {'label_attr': {"class":"control-label"}}) }}
        {{ form_widget(form.plainPassword.second, {'attr':{"class":"form-control"}}) }}
    </div>

    <div class="btn-group">
        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-primary"/>
    </div>
</div>
{{ form_end(form) }}
