{% trans_default_domain 'FOSUserBundle' %}

{% extends "@SimpleMembership/auth/reset-password.html.twig" %}

{#{% block fos_user_content %}#}
{#{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}#}
{#{% endblock fos_user_content %}#}
