{% extends '@SimpleMembership/empty.html.twig' %}

{% block content %}
<div class="container-fluid cover">
	<div class="row">
		<div class="col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-md-10">
			<h1>Products</h1>
		</div>
		<div class="col-md-1 hidden-sm hidden-xs"></div>
	</div>
</div><!-- /cover -->

<div class="container-fluid content">
	<div class="row">
		<div class="col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-md-10">
			<div class="inner-wrapper">
				<h2>Edit Category</h2>
				{{ form_start(form, {'attr' : {'role':'form'} }) }}
				<div class="form-group">
					{{ form_errors(form.title) }}
					{{ form_label(form.title, 'Name') }}
					{{ form_widget(form.title, {'attr':{'class':'form-control'}}) }}
				</div>
				<button type="submit" class="btn btn-green">Save Changes</button>
				{{ form_end(form) }}
			</div>
		</div>
		<div class="col-md-1 hidden-sm hidden-xs"></div>
	</div><!-- / row -->
</div><!-- / container -->
{% endblock %}