{% extends '@SimpleMembership/empty.html.twig' %}

{% block content %}
    <div class="container-fluid cover">
        <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs"></div>
            <div class="col-md-10">
                <h1>Products</h1>
            </div>
            <div class="col-md-1 hidden-sm hidden-xs"></div>
        </div>
    </div><!-- /cover -->

    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs"></div>
            <div class="col-md-10">
                <div class="inner-wrapper">
                    <h2>Categories</h2>
                    {{ form_start(form, {'attr' : {'role':'form'} }) }}
                        <div class="form-group">
                            {{ form_errors(form.title) }}
                            {{ form_label(form.title, 'Name') }}
                            {{ form_widget(form.title, {'attr':{'class':'form-control'}}) }}
                        </div>
                        <button type="submit" class="btn btn-green">Add New Category</button>
                    {{ form_end(form) }}
                    <div class="h30"></div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <td>Name</td>
                                <td>Action</td>
                            </tr>
                            {% for category in categories %}
                                <tr>
                                    <td>{{ category.title }}</td>
                                    <td><a href="{{ path('admin_category_edit', {'id': category.id}) }}">Edit</a> / <a
                                                href="" data-id="{{ category.id }}">Remove</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div><!-- / table-responsive -->
                </div>
            </div>
            <div class="col-md-1 hidden-sm hidden-xs"></div>
        </div><!-- / row -->
    </div><!-- / container -->
{% endblock %}

{% block javascript %}
    <script>
        $( document ).ready(function() {

            $('a[href=""]').click(function () {
                var url = "{{ path('admin_category_delete', {'id': 'id'}) }}";
                url = url.replace('id', this.dataset.id);

                $.ajax({
                    url: url,
                    type: 'DELETE',
                    success: function(result) {
                        location.reload();
                    }
                });

                return true;
            });
        });
    </script>
{% endblock %}