<ul class="nav navbar-nav">
    <li {% if app.request.attributes.get('_route') == 'admin_product_index' %} class="active"{% endif %}>
        <a href="{{ path('admin_product_index') }}">Products<span class="sr-only">(current)</span></a>
    </li>

    <li {% if app.request.attributes.get('_route') == 'admin_post_index' %} class="active"{% endif %}>
        <a href="{{ path('admin_post_index') }}">Posts<span class="sr-only">(current)</span></a>
    </li>

    <li {% if app.request.attributes.get('_route') == 'admin_payments_index' %} class="active"{% endif %}>
        <a href="{{ path('admin_payments_index') }}">List of Payments
            <span class="sr-only">(current)</span>
        </a>
    </li>

    <li {% if app.request.attributes.get('_route') == 'premium_index' %} class="active"{% endif %}>
        <a href="{{ path('premium_index') }}">
            Premium product<span class="sr-only">(current)</span>
        </a>
    </li>

    <li {% if app.request.attributes.get('_route') == 'simple_membership_checkout_index' %} class="active"{% endif %}>
        <a href="{{ path('simple_membership_checkout_index') }}">
            Orders<span class="sr-only">(current)</span>
        </a>
    </li>

    <li {% if app.request.attributes.get('_route') == 'simple_membership_how_to_pay' %} class="active"{% endif %}>
        <a href="{{ path('simple_membership_how_to_pay') }}">
            How to pay<span class="sr-only">(current)</span>
        </a>
    </li>

    <li {% if app.request.attributes.get('_route') == 'simple_membership_help' %} class="active"{% endif %}>
        <a href="{{ path('simple_membership_help') }}">
            Help<span class="sr-only">(current)</span>
        </a>
    </li>

    <li {% if app.request.attributes.get('_route') == 'bank_index' %} class="active"{% endif %}>
        <a href="{{ path('admin_bank_index') }}">List of Banks <span
                    class="sr-only">(current)</span></a>
    </li>

    <li {% if app.request.attributes.get('_route') == 'admin_user_index' %} class="active"{% endif %}>
        <a href="{{ path('admin_user_index') }}">Users <span class="sr-only">(current)</span></a>
    </li>
</ul>