<tr>
    <td>
        <a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.title }}</a>
        <ul class="">
            {% for post in product.posts %}
                <li class="">
                    <a href="{{ url('post_show', {'slug' : post.slug}) }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </td>
    {% if is_granted('ROLE_ADMIN') %}
        <td>
            <div class="btn-group">
                <a href="{{ path('product_show', { 'id': product.id }) }}" class="btn btn-primary">show</a>
                {% if is_granted('ROLE_ADMIN') == true %}
                    <a href="{{ path('admin_product_edit', { 'id': product.id }) }}" class="btn btn-warning">edit</a>
                {% endif %}

                {% if is_granted('ROLE_USER') == true and is_granted('ROLE_ADMIN') == false %}
                    <a href="#" onclick="addCart({{ product.id }})" class="btn btn-default disabled">Add to
                        cart</a>
                {% endif %}
            </div>
        </td>
    {% endif %}
</tr>