<ul class="nav navbar-nav">
    <li {% if app.request.attributes.get('_route') == 'simple_membership_homepage' %} class="active"{% endif %}>
        <a href="{{ path('simple_membership_homepage') }}">Home <span class="sr-only">(current)</span></a>
    </li>

    <li {% if app.request.attributes.get('_route') == 'product_index' %} class="active"{% endif %}>
        <a href="{{ path('product_index') }}">My Product<span class="sr-only">(current)</span></a>
    </li>

    <li {% if app.request.attributes.get('_route') == 'payments_new' %} class="active"{% endif %}>
        <a href="{{ path('payments_new') }}">Confirm Payment<span class="sr-only">(current)</span></a>
    </li>

    <li {% if app.request.attributes.get('_route') == 'premium_index' %} class="active"{% endif %}>
        <a href="{{ path('premium_index') }}">
            Premium product<span class="sr-only">(current)</span>
        </a>
    </li>

    <li {% if app.request.attributes.get('_route') == 'simple_membership_how_to_pay' %} class="active"{% endif %}>
        <a href="{{ path('simple_membership_how_to_pay') }}">
            How to pay<span class="sr-only">(current)</span>
        </a>
    </li>

    <li {% if app.request.attributes.get('_route') == 'simple_membership_help' %} class="active"{% endif %}>
        <a href="{{ path('simple_membership_help') }}">
            Help<span class="sr-only">(current)</span>
        </a>
    </li>
</ul>