<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
       aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        Cart
        <span class="caret"></span>
    </a>

    <ul class="dropdown-menu" id="cart">
        <li>
            <div class="container-fluid">
                <table class="table table-responsive table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if app.session.get('cart') %}
                        {% for product in app.session.get('cart')|json_decode %}
                            <tr id="product_{{ product.productId }}">
                                <td>{{ product.productId }}</td>
                                <td>{{ product.title }}</td>
                                <td>
                                    <a class="" href="#" onclick="removeFromCart({{ product.productId }})"
                                       title="Remove {{ product.title }}">
                                        <span class="glyphicon glyphicon-remove-circle text-danger">

                                        </span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">
                                No selectd product
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                    {% if app.session.get('cart') %}
                        <tfoot>
                        <tr>
                            <td colspan="3">
                                <a href="{{ url('checkout_submit') }}" class="btn btn-sm btn-success pull-right">Checkout</a>
                            </td>
                        </tr>
                        </tfoot>
                    {% endif %}
                </table>
            </div>
        </li>
    </ul>
</li>

{% block javascript %}
    <script type="application/javascript">
        function removeFromCart(productId) {
            event.preventDefault();
            var removeFromCart = "{{ url('checkout_remove_product', {'productId':'productId'}) }}";
            $.post(
                removeFromCart.replace('productId', productId),

                function (data) {
                    if (data.status == 'success') {
                        $('#product_' + productId).remove();
                        $('header').after(function(){
                            return '<div class="alert alert-success alert-dismissible" role="alert">' +
                                '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                '<span aria-hidden="true">×</span></button>'+data.data+'</div>'
                        })
                    }
                }
            );

            return false;
        }
    </script>
{% endblock %}