<div class="pull-right">
    {% if app.user and app.user.isPremium %}
        Premium expired : {{ app.user.premiumExpired|date }}
        <span class="label label-primary">
                        {{ app.user.premiumExpired|date_diff('%a days') ~ ' later' }}
                    </span>
    {% endif %}
</div>
