<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('simple_membership_homepage') }}">Simple Membership</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if is_granted('ROLE_ADMIN') %}
                {% include '@SimpleMembership/parts/admin_menu.html.twig' %}
            {% elseif app.user %}
                {% include '@SimpleMembership/parts/user_menu.html.twig' %}
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    {% include '@SimpleMembership/Includes/cart.html.twig' %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span>
                            &nbsp;{{ app.user.username }}&nbsp;
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_change_password') }}">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Log out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Log in</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>