{% extends '@SimpleMembership/main.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <!-- BEGIN PRODUCTS -->
            {% for product in products %}
                <div class="col-md-3 col-sm-6">
					<span class="thumbnail">
						{% if product.thumb %}
                            <img src="{{ asset('uploads/img/' ~ product.thumb ) }}" alt="{{ product.title }}">
						{% else %}
                            <img src="http://placehold.it/500x400" alt="{{ product.title }}">
                        {% endif %}
                        <h4>{{ product.title }}</h4>
						<p>{{ product.description|raw }}</p>
						<hr class="line">
						<div class="row">
                            <div class="col-md-12 col-sm-12 text-center">
                                {% if product.id in userProducts %}
                                    <a href="{{ url('product_show', {'id':product.id}) }}"
                                       class="btn btn-success"> View</a>
                                {% else %}

                                    <a href="#" onclick="addCart({{ product.id }})"
                                       class="btn btn-success disabled addToCart">Add to cart</a>
                                {% endif %}
                            </div>

						</div>
					</span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block stylesheet %}{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        $(document).ready(function () {
            $('a.addToCart.disabled').each(function () {
                $(this).removeClass('disabled');
            })
        });

        function addCart(productId) {
            event.preventDefault();
            var addCartUrl = "{{ url('checkout_add_product', {'productId':'productId'}) }}";
            $.post(
                addCartUrl.replace('productId', productId),
                function (data) {
                    if (data.status == 'success') {
                        location.reload();
                    }
                }
            );
            return false;
        }
    </script>
{% endblock %}
