{% extends '@SimpleMembership/empty.html.twig' %}

{% block content %}
    <div class="container-fluid cover">
        <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs"></div>
            <div class="col-md-10">
                <h1>Users</h1>
            </div>
            <div class="col-md-1 hidden-sm hidden-xs"></div>
        </div>
    </div><!-- /cover -->

    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs"></div>
            <div class="col-md-10">
                <div class="inner-wrapper">
                    <h2>View Detail</h2>
                    {{ form_start(form) }}
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <td>First Name</td>
                                <td>{{ user.firstName }}</td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td>{{ user.lastName }}</td>
                            </tr>
                            <tr>
                                <td>Username</td>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td>****</td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td>{{ user.gender }}</td>
                            </tr>
                            <tr>
                                <td>Age</td>
                                <td>{{ age }}</td>
                            </tr>
                            <tr>
                                <td>Occupation</td>
                                <td>{{ user.occupation }}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>{{ user.phone }}</td>
                            </tr>
                            <tr>
                                <td>Blog</td>
                                <td>{{ user.blog }}</td>
                            </tr>
                            <tr>
                                <td>City</td>
                                <td>{{ user.city }}</td>
                            </tr>
                            <tr>
                                <td>Paid Products</td>
                                <td>
                                    {{ form_errors(form.products) }}
                                    {{ form_widget(form.products) }}
                                </td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>
                                    {{ form_errors(form.locked) }}
                                    {{ form_widget(form.locked) }}
                                </td>
                            </tr>
                            <tr>
                                <td>Registration Date</td>
                                <td>{{ user.createdAt|date(date_format) }}</td>
                            </tr>
                            <tr>
                                <td>Last Login Date</td>
                                <td>{{ user.lastLogin|date(date_format) }}</td>
                            </tr>
                            <tr>
                                <td>Expiry</td>
                                <td>
                                    {{ form_errors(form.premium_term) }}
                                    {{ form_widget(form.premium_term) }}
                                </td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>
                                    {{ user.roles|first|trans }}
                                </td>
                            </tr>
                        </table>
                    </div><!-- / table-responsive -->
                    <button class="btn btn-green">Save Changes</button>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="col-md-1 hidden-sm hidden-xs"></div>
        </div><!-- / row -->
    </div><!-- / container -->
{% endblock %}