{% extends '@SimpleMembership/empty.html.twig' %}

{% block content %}
<div class="container-fluid cover">
	<div class="row">
		<div class="col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-md-10">
			<h1>Users</h1>
		</div>
		<div class="col-md-1 hidden-sm hidden-xs"></div>
	</div>
</div><!-- /cover -->

<div class="container-fluid content">
	<div class="row">
		<div class="col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-md-10">
			<div class="inner-wrapper">
				<h2>All Users</h2>
				<div class="table-responsive">
					<table class="table table-bordered">
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Status</th>
							<th>Registration Date</th>
							<th>Last Login Date</th>
							<th>Actions</th>
						</tr>
					{% for user in users %}
						<tr>
							<td>{{ user.firstName }}</td>
							<td>{{ user.lastName }}</td>
							<td>
								{% if user.locked == 1 %}
									<span class="text-danger">Banned</span>
								{% else %}
									<span class="text-success">Active</span>
								{% endif %}
							</td>
							<td>{{ user.createdAt|date(date_format) }}</td>
							<td>{{ user.lastLogin|date(date_format) }}</td>
							<td>
								<a href="{{ path('admin_user_show', { 'id': user.id }) }}">View</a> /
								<a href="{{ path('admin_user_edit', { 'id': user.id }) }}">Edit</a> /
								<a href="" data-id="{{ user.id }}" class="deleteUser">Remove</a>
							</td>
						</tr>
					{% endfor %}
					</table>
				</div><!-- / table-responsive -->
			</div>
		</div>
		<div class="col-md-1 hidden-sm hidden-xs"></div>
	</div><!-- / row -->
</div><!-- / container -->
{% endblock %}

{% block javascript %}
	<script>
		$( document ).ready(function() {

			$('a.deleteUser').click(function () {

				var url = "{{ path('admin_user_delete', { 'id': 'id' }) }}";
				url = url.replace('id', this.dataset.id);

				$.ajax({
					url: url,
					type: 'DELETE',
					success: function(result) {
						location.reload();
					}
				});

				return true;
			});
		});
	</script>
{% endblock %}