{% extends '@SimpleMembership/empty.html.twig' %}

{% block content %}
<div class="container-fluid cover">
	<div class="row">
		<div class="col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-md-10">
			<h1>Users</h1>
		</div>
		<div class="col-md-1 hidden-sm hidden-xs"></div>
	</div>
</div><!-- /cover -->

<div class="container-fluid content">
	<div class="row">
		<div class="col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-md-10">
			<div class="inner-wrapper">
				<h2>View Detail</h2>
				<div class="table-responsive">
					<table class="table table-bordered">
						<tr>
							<td>First Name</td>
							<td>{{ user.firstName }}</td>
						</tr>
						<tr>
							<td>Last Name</td>
							<td>{{ user.lastName }}</td>
						</tr>
						<tr>
							<td>Username</td>
							<td>{{ user.username }}</td>
						</tr>
						<tr>
							<td>Password</td>
							<td>****</td>
						</tr>
						<tr>
							<td>Gender</td>
							<td>{{ user.gender }}</td>
						</tr>
						<tr>
							<td>Age</td>
							<td>{{ age }}</td>
						</tr>
						<tr>
							<td>Occupation</td>
							<td>{{ user.occupation }}</td>
						</tr>
						<tr>
							<td>Email</td>
							<td>{{ user.email }}</td>
						</tr>
						<tr>
							<td>Phone</td>
							<td>{{ user.phone }}</td>
						</tr>
						<tr>
							<td>Blog</td>
							<td>{{ user.blog }}</td>
						</tr>
						<tr>
							<td>City</td>
							<td>{{ user.city }}</td>
						</tr>
						<tr>
							<td>Paid Products</td>
							<td>
								<ul>
									{% for product in user.products %}
										<li>{{ product.title }}</li>
									{% endfor %}
								</ul>
							</td>
						</tr>
						<tr>
							<td>Status</td>
							<td>
								{% if user.locked %}
									<span class="text-warning">Banned</span>
								{% else %}
									<span class="text-success">Active</span>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>Registration Date</td>
							<td>{{ user.createdAt|date(date_format) }}</td>
						</tr>
						<tr>
							<td>Last Login Date</td>
							<td>{{ user.lastLogin|date(date_format) }}</td>
						</tr>
						<tr>
							<td>Expiry</td>
							<td>{% if user.premiumExpired %}
									{{ user.premiumExpired|date(date_format) }}
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>Role</td>
							<td>{{ user.roles|first|trans }}</td>
						</tr>
					</table>
				</div><!-- / table-responsive -->
				<a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-info btn-green" role="button">Edit</a>
			</div>
		</div>
		<div class="col-md-1 hidden-sm hidden-xs"></div>
	</div><!-- / row -->
</div><!-- / container -->
{% endblock %}