@font-face {font-family: 'AvenirReg'; src: url('../font/Avenir-Regular.eot'); src: url('../font/Avenir-Regular.eot?#iefix') format('embedded-opentype'), url('../font/Avenir-Regular.woff') format('woff'), url('../font/Avenir-Regular.ttf') format('truetype'); font-weight: normal; font-style: normal}

/* ========== MEDIA QUERY ========== */
/* Small devices (mobile, < 767px) */
@media (max-width: 767px) {
	.content .col-md-3 .affix {position: inherit}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}

html body {font-family: 'AvenirReg'; background-color: #fafafa}
.h50 {height: 50px}
.h30 {height: 30px}
table td {vertical-align: middle !important}
table input[type="checkbox"], input[type="radio"] {margin: 2px 0 0;}
table .checkbox label {display: block;}
table ul {margin-bottom: 0; padding-left: 15px}

.header .navbar {margin-bottom: 0}
.header .navbar-default {border-radius: 0; border-color: transparent; background: #fff; box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12)}
.header .navbar-brand {padding: 15px 15px 10px}
.header .navbar-default .navbar-nav > li > a {color: #333}
.header .navbar-default .navbar-collapse, .navbar-default .navbar-form {border-color: transparent;}
.header .dropdown-submenu {position: relative}
.header .dropdown-submenu .dropdown-menu {top: 0; left: 100%; margin-top: -1px}
.header .dropdown-submenu .caret {-ms-transform: rotate(-90deg); /* IE 9 */ -webkit-transform: rotate(-90deg); /* Safari */ transform: rotate(-90deg);}

.cover {padding-top: 40px; padding-bottom: 50px; background-color: #2962ff; background-image: url("../img/asset/cover.jpg"); background-position: center center; background-size: cover}
.cover h1 {font-size: 90px; color: #fff; text-shadow: 1px 1px 3px #000;}

.filter {padding-top: 20px; padding-bottom: 20px}
.filter .dropdown {margin-right: 10px}
.filter .checkbox {margin-bottom: 0; margin-top: 0}
.filter input[type="checkbox"] {margin-top: 1px}
.filter label {display: block;}
.filter .dropdown-menu > li > a {padding-right: 0}
.filter .btn-default {background-image: none}

.content h1 {margin-bottom: 20px}
.content p {line-height: 24px}
.content a {color: #2962ff}
.content a:hover {color: #2962ff}
.content a:focus {color: #2962ff; outline: none; text-decoration: none}

.content .btn {letter-spacing: 0.5px}
.content .btn-green {text-transform: uppercase; background: #00c853 none repeat scroll 0 0; border: 0 none; color: #fff; cursor: pointer; text-align: center; display: inline-block; white-space: nowrap; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); transition: background-color 0.2s ease 0s, box-shadow 0.2s ease 0s;}
.content .btn-green:hover {background: #00e676; color: #fff}
.content .btn-green:active {background: #00e676; color: #fff; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.38);}
.content .btn-green:focus {color: #fff; outline: none; text-decoration: none}

.content .col-md-3 .item {background-color: #fff; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); margin-bottom: 30px}
.content .col-md-3 .item a {position: relative; display: block}
.content .col-md-3 .item a > div {color: #fff; text-shadow: 1px 1px 3px #000; position: absolute; top: 10px; left: 15px; font-size: 21px}
.content .col-md-3 .layer {position: absolute; display: block; width: 100%; height: 100%; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+0,0+50 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.content .col-md-10 .inner-wrapper {background-color: #fff; padding: 10px 30px 30px; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); margin-bottom: 20px; margin-top: 40px}

.content .col-md-4 .inner-wrapper {background-color: #fff; padding: 10px 30px 30px; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); margin-bottom: 20px; margin-top: 40px}
.content .col-md-4 .inner-wrapper ul {padding-left: 0}
.content .col-md-4 .inner-wrapper ul li {list-style: none;}
.content .col-md-4 input[type="checkbox"], input[type="radio"] {margin: 2px -20px}

.content .col-md-7 h1 {margin-top: 30px; margin-bottom: 20px}
.content .col-md-7 .content-video {box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); margin-bottom: 20px}
.content .col-md-7 .content-text {background-color: #fff; padding: 30px; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); margin-bottom: 20px; overflow: hidden;}
.content .col-md-7 .content-pdf {background-color: #fff; padding: 60px 30px; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); margin-bottom: 20px}
.content .col-md-7 .content-pdf img {margin-bottom: 20px}

.content .col-md-5 {padding-top: 20px; padding-bottom: 60px}
.content .col-md-5 h3 {margin-bottom: 20px}
.content .col-md-5 ol {padding-left: 20px}
.content .col-md-5 ol > li {margin-bottom: 20px}
.content .col-md-5 ol li {margin-bottom: 5px}
.content .col-md-5 ul {margin-top: 10px; margin-bottom: 10px; padding-left: 20px}
.content .col-md-5 ul li {list-style: disc}

.footer {padding: 20px 0; margin-top: 80px}
.footer a {color: #2962ff}
.footer a:hover {color: #2962ff}
.footer a:focus {color: #2962ff; outline: none; text-decoration: none}
