{% extends '@SimpleMembership/empty.html.twig' %}

{% block head_panel %}
{% endblock %}

{% block content %}
    <div class="container-fluid cover">
        <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs"></div>
            <div class="col-md-10">
                <h1>
                    {% block auth_title %}
                    {% endblock auth_title %}
                </h1>
            </div>
            <div class="col-md-1 hidden-sm hidden-xs"></div>
        </div>
    </div><!-- /cover -->

    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs"></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <div class="inner-wrapper">

                            {% block auth_content %}
                                <h3>Go to main page!</h3>
                                <form method="get" action="{{ path('simple_membership_homepage') }}">
                                    <button type="submit" class="btn btn-green">Main Page</button>
                                </form>
                            {% endblock auth_content %}

                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="inner-wrapper">
                            {% include '@SimpleMembership/include/outsidebar.html.twig' %}
                        </div>
                    </div>

                </div><!-- / row -->
            </div>
            <div class="col-md-1 hidden-sm hidden-xs"></div>
        </div><!-- / row -->
    </div><!-- / container -->
{% endblock %}
