{% extends '@SimpleMembership/auth/base.html.twig' %}

{% block auth_title %}
    Login
{% endblock %}

{% block auth_content %}
    <h3>Please login below!</h3>
    {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}
        <div class="form-group">
            <input type="text" class="form-control" id="username" name="_username"
                   placeholder="Username"
                   value="{{ last_username }}" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" name="_password"
                   placeholder="Password"
                   required="required">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>Remember
                Me
            </label>
        </div>
        <p>
            {#<button type="submit" class="btn btn-green">Login</button>#}
            <input
                    type="submit"
                    id="_submit"
                    name="_submit"
                    value="Login"
                    class="btn btn-green"
            />
        </p>
    </form>
    <p><a href="{{ path('fos_user_resetting_request') }}">Lost Password?</a></p>
    <p>Not a member? <a href="{{ path('fos_user_registration_register') }}">Register now!</a>
    </p>
{% endblock %}