{% extends '@SimpleMembership/auth/base.html.twig' %}

{% block auth_title %}
    Lost Password?
{% endblock %}

{% block auth_content %}
    <h3>Please reset below!</h3>
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_registration_register"
          role="form">
        <div class="form-group">
            <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username or Email"
                   name="username">
        </div>
        <button type="submit" class="btn btn-green">Reset Password</button>
    </form>
{% endblock %}
