{% extends '@SimpleMembership/auth/base.html.twig' %}

{% block auth_title %}
    Register
{% endblock %}

{% block auth_content %}
    <h3>Please register below!</h3>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register', 'role':'form'}}) }}
    <div class="form-group">
        {{ form_errors(form.first_name) }}
        {{ form_widget(form.first_name, {'attr':{'class':'form-control', 'placeholder':'First Name'}}) }}
    </div>
    <div class="form-group">
        {{ form_errors(form.last_name) }}
        {{ form_widget(form.last_name, {'attr':{'class':'form-control', 'placeholder':'Last Name'}}) }}
    </div>
    <div class="form-group">
        {{ form_errors(form.username) }}
        {{ form_widget(form.username, {'attr':{'class':'form-control', 'placeholder':'Username'}}) }}
    </div>
    <div class="form-group">
        {{ form_errors(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, {'attr':{'class':'form-control', 'placeholder':'Password'}}) }}
    </div>
    <div class="form-group">
        {{ form_errors(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, {'attr':{'class':'form-control', 'placeholder':'Repeat Password'}}) }}
    </div>
    <div class="form-group">
        {{ form_errors(form.gender) }}
        {{ form_widget(form.gender, {'attr':{'class':'form-control', 'placeholder':'Gender'}}) }}
    </div>
    <div class="form-group">
        {{ form_errors(form.occupation) }}
        {{ form_widget(form.occupation, {'attr':{'class':'form-control', 'placeholder':'Occupation'}}) }}
    </div>
    <div class="form-group">
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr':{'class':'form-control', 'placeholder':'Email'}}) }}
    </div>
    <div class="form-group">
        {{ form_errors(form.phone) }}
        {{ form_widget(form.phone, {'attr':{'class':'form-control', 'placeholder':'Phone'}}) }}
    </div>
    <div class="form-group">
        {{ form_errors(form.blog) }}
        {{ form_widget(form.blog, {'attr':{'class':'form-control', 'placeholder':'Blog'}}) }}
    </div>
    <div class="form-group">
        {{ form_errors(form.city) }}
        {{ form_widget(form.city, {'attr':{'class':'form-control', 'placeholder':'City'}}) }}
    </div>
    <div class="form-group">
        {{ form_errors(form.birthday) }}
        <p>Birthday</p>
        {{ form_widget(form.birthday) }}
    </div>

    <button type="submit" class="btn btn-green">Register</button>
    {{ form_end(form) }}
{% endblock %}