{% extends '@SimpleMembership/auth/base.html.twig' %}

{% block auth_title %}
    Reset Password
{% endblock %}

{% block auth_content %}
    <h3>Please type new password!</h3>

    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': {'role':'form'} }) }}
    <div class="col-sm-6">

        <div class="form-group">
            {{ form_widget(form.plainPassword.first, {'attr':{"class":"form-control", "placeholder":"form.new_password"}}) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.plainPassword.second, {'attr':{"class":"form-control", "placeholder":"form.new_password_confirmation"}}) }}
        </div>

        <button type="submit" class="btn btn-green">Save Password</button>
    </div>
    {{ form_end(form) }}
{% endblock %}