<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {% for id, category in ''|get_categories_filter %}
        <li>
            <a>
                <span class="checkbox">
                    <label>
                        <input type="checkbox" name="filters[categories][{{ category.id }}]"
                        {% if category.id in app.session.get('categories') %}checked{% endif %}
                        >
                        {{ category.title }}
                    </label>
                </span>
            </a>
        </li>
    {% endfor %}
</ul>