<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {% for value, level in ''|get_level_filter %}
        <li>
            <a>
                <span class="checkbox">
                    <label>
                        <input type="checkbox" name="filters[level][{{ value }}]" {% if value in app.session.get('level') %}checked{% endif %} >{{ level }}
                    </label>
                </span>
            </a>
        </li>
    {% endfor %}
</ul>