<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {% for price in ''|get_price_filter %}
        <li>
            <a>
                <span class="checkbox">
                    {% if price == false %}
                        <label><input type="checkbox" name="filters[price][paid]" {% if app.session.get('isPaid') == true %}checked{% endif %}> Paid</label>
                    {% elseif price == true %}
                        <label><input type="checkbox" name="filters[price][free]" {% if app.session.get('isFree') == true %}checked{% endif %}> Free</label>
                    {% endif %}
                </span>
            </a>
        </li>
    {% endfor %}
</ul>